%h1 Survey
= link_to 'Edit', edit_admin_survey_path(@survey)

%h1 Questions
.question-form
  %table.question-table
    %thead
      %tr
        %th Question
        %th Min
        %th Max
        %th Actions
    %tbody
      - @survey.survey_questions.each do |question|
        %tr{ :class => cycle("odd", "even") }
          %td= question.question 
          %td= question.min
          %td= question.max
          %td= link_to 'Delete', admin_delete_question_path(question), :method => 'delete'


