= form_for WorkUnit.new(params[:work_unit]), :url =>  create_in_dashboard_work_units_path() do |f|
  %fieldset
    %legend= t(:add_work_unit)

    #work_unit_errors

    .clearfix
      %label{:for => "checkbox"} Show hidden clients and projects
      .input
        %input{:id => "checkbox", :type => "checkbox", :name => "checkbox", :value => true, :checked => false}

    .clearfix
      %label= "#{t(:scheduled_on)}:"
      .input
        = link_to Date.current, "#", :id => "schedule_modal_link"

    #schedule_modal
      %p= t(:enter_work_units_on_completion_day)
      .clearfix
        %label= t(:scheduled_at)
        .input
          = text_field_tag :scheduled_at, Date.current

    .clearfix
      %label{:for => "work_unit_client_id"}= "#{t(:client)}:"
      .input
        = collection_select("work_unit", "client_id", @clients, "id", "name", { :prompt => t(:select_a_client) }, :class => 'chzn-select')

    .clearfix
      %label{:for => "work_unit_project_id"}= "#{t(:project)}:"
      .input
        = collection_select("work_unit", "project_id", @projects, "id", "name", { :prompt => t(:select_a_project) }, :class => 'chzn-select')

    .clearfix
      %label{:for => "work_unit_ticket_id"}= "#{t(:ticket)}:"
      .input
        = collection_select("work_unit", "ticket_id", @tickets, "id", "name", { :prompt => t(:select_a_ticket) }, :class => 'chzn-select')

    .clearfix
      %label{:for => "work_unit_hours_type"}= "#{t(:type)}:"
      .input
        = select_tag("hours_type", options_for_select(['Normal', 'Overtime', 'CTO', 'PTO']), :class => 'chzn-select')

    .clearfix
      %label{:for => "work_unit_hours"}= "#{t(:hours).capitalize}:"
      .input
        = f.text_field :hours, { :size => 10 }

    .clearfix
      %label{:for => "work_unit_description"}= "#{t(:description)}:"
      .input
        = f.text_area :description, { :rows => 5 }

    .actions
      = f.hidden_field :scheduled_at, :value => Date.current
      = f.submit t(:create_work_unit), :class => 'add_new_button btn primary'
