- content_for :javascripts do
  = javascript_include_tag "schedule_modal"

= form_for @work_unit do |f| 
  - if @work_unit.errors.any?
    #error_explanation
      %h2
        = pluralize(@work_unit.errors.count, "error")
        = "#{t(:prohibited_this_work_unit_from_being_saved)}:"
      %ul
        - @work_unit.errors.full_messages.each do |msg|
          %li= msg

  .work_unit_field
    %label= "#{t(:scheduled_on)}:"
    = link_to @work_unit.scheduled_at.to_date, "#", :id => "schedule_modal_link"

  #schedule_modal
    %p= t(:enter_work_units_on_completion_day)
    .work_unit_field
      %label= t(:scheduled_at)
      = text_field_tag :scheduled_at, @work_unit.scheduled_at

  .work_unit_field
    = f.label :hours_type
    = f.select :hours_type, ['Normal', 'Overtime', 'CTO', 'PTO']

  .work_unit_field
    = f.label :hours
    = f.text_field :hours

  .work_unit_field
    = f.label :description
    = f.text_area :description

  .actions
    = f.hidden_field :scheduled_at, value: Date.current
    = f.hidden_field :ticket_id, value: @work_unit.ticket.id
    = f.submit
