.yui3-g
  .yui3-u-1
    %h2= t(:new_work_unit)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to "#{t(:client)}: #{@ticket.client}", client_path(@ticket.project.client)
          %li= link_to "#{t(:project)}: #{@ticket.project}", project_path(@ticket.project)
      = render 'form'
