.yui3-g
  .yui3-u-1
    %h2= t(:new_work_unit)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %h1 #{@work_unit.client} > #{@work_unit.project} > #{@work_unit.ticket}
      = render 'new_work_unit'
