- content_for :javascripts do
  = javascript_include_tag "comments"

%h3= "#{t(:comments)}:"
= link_to "Hide/Show hidden", "#comments", :id => 'hide_show_comments'
= render :partial => "comments/comment", :collection => comments
