.week_pagination
  = render 'dashboard/base/week_pagination', :start_date => @start_date

= render 'shared/calendar', :start_date => @start_date, :user => current_user, :work_units => @work_units

.row-fluid
  .span6
    = render 'tickets/add_ticket'
  .span6
    = render 'work_units/add_work_unit'

.dashboard_2week_time_report
  = render 'two_week_time_report'

= render_message(@message)

- content_for :javascripts do
  = javascript_include_tag 'add_taxonomy'
