.nav-header Active Project List
%ul.nav.nav-list
  - @project_list.each do |project|
    %li= link_to project.name, project_path(project)
    /%td= progress_bar(project_completion_metric(project))
.week_pagination
  = render 'dashboard/base/week_pagination', :start_date => @start_date

= render 'shared/calendar', :start_date => @start_date, :user => current_user, :work_units => @work_units

.row-fluid
  .span6
    = render 'tickets/add_ticket'
  .span6
    = render 'work_units/add_work_unit'

= render_message(@message)

- content_for :javascripts do
  = javascript_include_tag 'add_taxonomy'
