%h2= t(:payroll_report)
= render 'admin/nav'

%h3= "#{t(:users_with_unpaid_work_units)}:"
%table.table-striped.table
  %thead
    %th= t(:user).capitalize
    %th= t(:unpaid_work_units).capitalize
    %th= t(:unpaid_hours).capitalize
  %tfoot
    %th= t(:total)
    %th= @work_units.count
    %th= @work_units.sum(:effective_hours)
  - @users.each do |user|
    %tr{ :class => cycle("odd", "even") }
      %td= link_to user, admin_payroll_path(user)
      %td= user.unpaid_work_units.count
      %td= user.unpaid_work_units.sum(:effective_hours)
