.yui3-g
  .yui3-u-1
    %h2= t(:change_password)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        = form_for user, :url => change_password_user_path(user) do |f|
          %p
            %label{:for => "user_password"}= t(:password)
            = f.password_field :password, { :value => '' }
          %p
            %label{:for => "user_password_confirmation"}= t(:password_confirmation)
            = f.password_field :password_confirmation, { :value => '' }
          %p
            = submit_tag t(:update)
