= form_for user, :url => change_password_user_path(user), :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend= t(:change_password)
    .control-group
      %label.control-label{:for => "user_password"}= t(:password)
      .controls
        = f.password_field :password, { :value => '' }
    .control-group
      %label.control-label{:for => "user_password_confirmation"}= t(:password_confirmation)
      .controls
        = f.password_field :password_confirmation, { :value => '' }
    .form-actions
      = submit_tag t(:change_password), :class => 'btn primary'
