
.yui3-g
  .yui3-u-1
    %h2= t(:edit_user)
.yui3-g
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = form_for @user do |u|
          %p
            = u.label :full_width, t(:full_width)
            = u.check_box(:full_width)
          %p
            = u.label :expanded_calendar, t(:expanded_calendar)
            = u.check_box(:expanded_calendar)
          %p
            = u.label :daily_target_hours, t(:daily_target_hours) 
            = u.text_field(:daily_target_hours)
          %p
            = u.submit t(:update)
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => "change_password_form", :locals => {:user => @user}
