= form_for @user do |u|
  %fieldset
    %legend= t(:edit_user)
    .clearfix
      = u.label :full_width, t(:full_width)
      .input
        = u.check_box(:full_width)
    .clearfix
      = u.label :expanded_calendar, t(:expanded_calendar)
      .input
        = u.check_box(:expanded_calendar)
    .clearfix
      = u.label :daily_target_hours, t(:daily_target_hours) 
      .input
        = u.text_field(:daily_target_hours)
    .actions
      = u.submit t(:update), :class => 'btn primary'

= render :partial => "change_password_form", :locals => {:user => @user}
