.yui3-g
  .yui3-u-1
    %h2= "#{t(:historical_time_entered_for)} #{@user.to_s}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        - (0..5).each do |x|
          - start_date = Date.today.beginning_of_week - x.weeks
          %h3= "#{t(:week_of)} #{start_date} #{t(:to)} #{start_date + 1.week}"
          = render :partial => 'shared/calendar', :locals => { :start_date => start_date, :user => @user }
