%h2= t(:all_users)

%table.users.table.table-bordered.table-striped
  %thead
    %tr
      %th
      %th= t(:name)
      %th= t(:email)
  %tbody
    - @users.each do |user|
      %tr{ :class => cycle("odd", "even") }
        %td.user_img
          = link_to show_gravatar_for(user), user
        %td.user_img
          = link_to "<span>#{user}</span>".html_safe, user
        %td= user.email
- if admin?
  = link_to t(:new_user), new_admin_user_path, :class => "add_new_button btn primary"
