= render :partial => 'user_head', :locals => { :user => @user }

%ul.pills
  %li= link_to t(:historical_time_report), historical_time_user_path
  - if @user == current_user or current_user.admin?
    %li= link_to "Edit User", edit_user_path(@user)

%h3
  - if @user.locked_at?
    = t(:user_is_locked)
.clear    
-@start_date = Date.current.beginning_of_week
= render :partial => 'shared/calendar', :locals => { :start_date => @start_date, :user => @user, :work_units => @user.work_units_between(@start_date,  @start_date + 6.days) }
-@start_date = Date.current.advance({:weeks => -1}).beginning_of_week
= render :partial => 'shared/calendar', :locals => { :start_date => @start_date, :user => @user, :work_units => @user.work_units_between(@start_date,  @start_date + 6.days) }
