%div{id: 'help', title:'Help'}
  %h3= t(:help_colors)
  %ul
    %li.work_unit= t(:help_colors_normal)
    %li.work_unit.pto= t(:help_colors_pto)
    %li.work_unit.cto= t(:help_colors_cto)
    %li.work_unit.overtime= t(:help_colors_overtime)
