- if !current_user or !current_user.client
  = render_navigation(:level => :all, :expand_all => true, :renderer => :bootstrap)
- elsif client?
  = render_navigation(:level => 1, :context => 'client')

- if current_user
  %ul.nav.pull-right
    %li.dropdown
      %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
        = show_gravatar_for(current_user, 30)
        %span
          = current_user
        %b.caret
      = render_navigation(:level => 1, :context => 'secondary')
