%ul
  %li= link_to t(:home), root_path
  %li= link_to t(:clients), clients_path
  - if admin?
    %li= link_to t(:users), admin_users_path
    %li= link_to t(:admin), admin_path
  - else
    %li= link_to t(:users), users_path
