.bucket{:id => state.to_s}
  %span= state.to_s.humanize
  %hr
  %ul.unstyled{:id => "#{state.to_s}_ul", :style => 'padding-bottom: 40px;'}
    - project.tickets.for_state(state).each do |ticket|
      %li{:id => ticket.id, :class => "#{state.to_s}_li"}
        = link_to ticket, ticket
        %p#ticket_string= "#{project.client.initials}-#{ticket.id}"
        .concealed{:style => "float: right; width: auto;"}
          = button_to "->", ticket_advance_state_path(ticket), :method => :post
