- Project.for_client(client).sort_by_name.each do |project|
  %tr{ :class => "#{cycle("odd", "even")} #{client.status.downcase}"  }
    %td= client
    %td= project
    %td= radio_button_tag("project[#{project.id}]", "developer", user.has_role?(:developer, project))
    %td= radio_button_tag("project[#{project.id}]", "client", user.has_role?(:client, project))
    %td= radio_button_tag("project[#{project.id}]", "no_access", user.roles_for(project).empty?)
