= search_form_for @q, url: search_work_units_path do |f|
  .search-box
    = f.label :Sort
    %label Search Work Order Description
    %label Search Invoice Number
    = select_tag :filter, options_for_select(['Invoiced', 'Paid']), :include_blank => true
    = f.text_field :description_cont
    = f.text_field :invoiced_cont

    = f.submit class: 'form-button'

  %table.work_units.table.table-striped
    %thead
      %tr
        %th #
        %th= t(:work_units)
        - if local_assigns.has_key?(:show_ticket)
          %th= t(:ticket) 
        - if local_assigns.has_key?(:show_project)
          %th= t(:project) 
        %th
          = t(:invoice_number)
        %th= t(:paid)
        %th= t(:scheduled_at)
        %th= t(:hours_type)
        %th= t(:hours)            
        %th= t(:effective_hours)            
    %tbody
      %tr
        %td
        %td
        - if local_assigns.has_key?(:show_ticket) || local_assigns.has_key?(:show_project)
          %td
        %td
        %td
        %td
        %td
        %td
        %td
      - work_units.each do |work_unit|
        %tr{ :class => cycle("odd", "even") }
          %td= link_to work_unit.id, work_unit_path(work_unit)
          %td= link_to work_unit.description, work_unit_path(work_unit)
          - if local_assigns.has_key?(:show_ticket) 
            %td= link_to work_unit.ticket, ticket_path(work_unit.ticket)
          - if local_assigns.has_key?(:show_project) 
            %td= link_to work_unit.project, project_path(work_unit.project)
          %td= work_unit.invoiced
          %td= work_unit.paid
          %td= work_unit.scheduled_at
          %td= work_unit.hours_type
          %td= work_unit.hours
          %td= work_unit.effective_hours
