%table.clients.zebra-striped
  %thead
    %tr
      %th= t(:name)
      %th= t(:initials)
      %th= t(:projects)
      %th= t(:tickets)
      %th= t(:status)
      - if admin?
        %th= t(:edit)
  %tbody
    - @clients.each do |client|
      %tr{ :class => "#{cycle("odd", "even")} #{client.status.downcase}" }
        %td= link_to client, "/client/#{client.id}"
        %td= client.initials
        %td= client.projects.count
        %td= client.tickets.count
        %td= client.status
        -if admin?
          %td= link_to t(:edit), edit_client_path(client), :class => 'btn'
