%table.table.table-striped.clients
  %thead
    %tr
      %th= t(:name)
      %th= t(:initials)
      %th= t(:hours)
      %th= t(:uninvoiced)
      %th= t(:status)
      %th= t(:recent_users)
      - if admin?
        %th= t(:edit)
  %tbody
    - @clients.each do |client|
      %tr{ :class => "#{cycle("odd", "even")} #{client.status.downcase}" }
        %td= link_to client, "/client/#{client.id}"
        %td= client.initials
        %td= client.hours
        %td= client.uninvoiced_hours
        %td= client.status
        %td
          - client.recent_users.each do |user|
            = show_gravatar_for(user, 30)
        - if admin?
          %td= link_to t(:edit), edit_client_path(client), :class => 'btn'
