#client
  %table#client_details.table.table-striped
    %thead
      %tr
        %th= t(:projects)
        - if current_user.has_role?(:developer)
          %th= t(:subscription)
        %th= t(:tickets)
        %th This week's hours
        %th This months's hours
        %th= t(:uninvoiced_hours)
        %th= t(:total_hours)
    %tfoot
      %tr
        %th= t(:all_projects)
        %th
        %th= @client.tickets.count
        %th= @client.hours_this_week
        %th= @client.hours_this_month
        %th= @client.uninvoiced_hours
        %th= @client.hours
    %tbody
      - if projects.any?
        - projects.each do |project|
          %tr{ :class => cycle("odd", "even") }
            %td= link_to project, project
            - if current_user.has_role?(:developer)
              - if project.allows_access?(current_user)
                %td= link_to bootstrap_icon('minus') + 'Unsubscribe', project_unsubscribe_path(:project_id => project.id), :class => 'btn'
              - else
                %td= link_to bootstrap_icon('plus') + 'Subscribe', project_subscribe_path(:project_id => project.id), :class => 'btn'
            %td= project.tickets.count
            %td= project.hours_this_week
            %td= project.hours_this_month
            %td= project.uninvoiced_hours
            %td= project.hours
      - else
        %tr
          %td{:colspan => 99} No Projects to Show
