.yui3-g
  .yui3-u-1
    %h2= "#{t(:client)}: #{@client}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to 'View Contacts', client_contacts_path(@client)
          - if admin?
            %li= link_to t(:all_clients), clients_path
            %li= link_to 'Edit Client', edit_client_path
            %li= link_to 'New Project', new_project_path(:client => @client) 
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        #client
          %h3= "#{t(:status)}: #{@client.status}"
          %table#client_details
            %thead
              %tr
                %th= t(:projects)
                %th= t(:tickets)
                %th= t(:uninvoiced_hours)
                %th= t(:total_hours)
            %tfoot
              %tr
                %th= t(:all_projects)
                %th= @client.tickets.count
                %th= @client.uninvoiced_hours
                %th= @client.hours
            %tbody
              - @projects.each do |project|
                %tr{ :class => cycle("odd", "even") }
                  %td= link_to project, project
                  %td= project.tickets.count
                  %td= project.uninvoiced_hours
                  %td= project.hours
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => "shared/files_and_comments", :locals => {:items => @client.files_and_comments.reverse, :id => 'client'}
