%h2= "#{t(:client)}: #{@client}"

%ul.pills
  %li= link_to 'View Contacts', client_contacts_path(@client)
  - if admin?
    %li= link_to t(:all_clients), clients_path
    %li= link_to 'Edit Client', edit_client_path
    %li= link_to 'New Project', new_project_path(:client => @client) 

= render :partial => "incompleted_projects"

- unless current_user.client
  = render :partial => "shared/files_and_comments", :locals => {:items => @client.files_and_comments.reverse, :id => 'client'}
