%h2= "#{t(:client)}: #{@client}"
%h3= "#{t(:status)}: #{@client.status}"

%ul.nav.nav-tabs
  %li= link_to 'View Contacts', client_contacts_path(@client)
  - if admin?
    %li= link_to t(:all_clients), clients_path
    %li= link_to 'Edit Client', edit_client_path
    %li= link_to 'New Project', new_project_path(:client => @client) 

%ul.nav.nav-tabs{"data-tabs" => "tabs"}
  %li.active= link_to "Incompleted Projects", "#incompleted_projects"
  %li= link_to "Completed Projects", "#completed_projects"
  %li= link_to "Data Vault", "#data_vault"
  %li= link_to "Comments and Files", "#comments"

.tab-content
  #incompleted_projects.tab-pane.active
    = render :partial => "projects", :locals => {:projects => @incompleted_projects}
  #completed_projects.tab-pane
    = render :partial => "projects", :locals => {:projects => @completed_projects}
  #data_vault.tab-pane
    = render :partial => "shared/data_vault", :locals => {:data_vault => @client.data_vault}
  #comments.tab-pane
    - unless current_user.client
      = render :partial => "shared/files_and_comments", :locals => {:items => @client.files_and_comments.reverse, :id => 'client'}

- content_for :javascripts do
  = javascript_include_tag "bootstrap-tabs"
  :javascript
    $(function() {
      $('.tabs').tabs();
    });
