#add_ticket
  %h3.dashboard_title= t(:add_ticket)

  = form_for Ticket.new(params[:ticket]) do |f|
    #ticket-errors
    .ticket_field
      %label{:for => "ticket_client_id"}= "#{t(:client)}:"
      = collection_select("ticket", "client_id", @clients, "id", "name", { :prompt => t(:select_a_client) })

    .ticket_field
      %label{:for => "ticket_project_id"}= "#{t(:project)}:"
      = collection_select("ticket", "project_id", @projects, "id", "name", { :prompt => t(:select_a_project) })

    .ticket_field
      %label{:for => "ticket_name"}= "#{t(:name)}:"
      = f.text_field :name, { :size => 10 }

    .ticket_field
      %label{:for => "ticket_description"}= "#{t(:description)}:"
      = f.text_area :description, { :rows => 10, :style => "resize: none;"}

    .ticket_field
      = f.submit t(:create_ticket), :class => 'add_new_button'
