#add_ticket
  = form_for Ticket.new(params[:ticket]) do |f|
    %fieldset
      %legend= t(:add_ticket)
      #ticket-errors
      .clearfix
        %label{:for => "ticket_client_id"}= "#{t(:client)}:"
        .input
          = collection_select("ticket", "client_id", @clients, "id", "name", { :prompt => t(:select_a_client) }, :class => 'chzn-select')
      .clearfix
        %label{:for => "ticket_project_id"}= "#{t(:project)}:"
        .input
          = collection_select("ticket", "project_id", @projects, "id", "name", { :prompt => t(:select_a_project) }, :class => 'chzn-select')
      .clearfix
        %label{:for => "ticket_name"}= "#{t(:name)}:"
        .input
          = f.text_field :name, { :size => 10 }
      .clearfix
        %label{:for => "ticket_estimated_hours"}= "#{t(:estimated_hours)}:"
        .input
          = f.text_field :estimated_hours, { :size => 10 }
      .clearfix
        %label{:for => "ticket_description"}= "#{t(:description)}:"
        .input
          = f.text_area :description, { :rows => 5 }

      .actions
        = f.submit t(:create_ticket), :class => 'add_new_button btn primary'
