= form_for(@ticket) do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2
        = pluralize(@ticket.errors.count, "error")
        = "#{t(:prohibited_this_ticket_from_being_saved)}:"

      %ul
      - @ticket.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    .clearfix
      = f.label :name
      .input
        = f.text_field :name
    .clearfix
      = f.label :estimated_hours
      .input
        = f.text_field :estimated_hours
    .clearfix
      = f.label :description
      .input
        = f.text_area :description, :class => 'xxlarge', :rows => 5

    = hidden_field_tag :project_id, @ticket.project.id
    .actions
      = f.submit :class => "add_new_button btn primary"
      - if @ticket.new_record?
        = link_to t(:cancel), project_path(@project), :class => "cancel_button btn"
      - else
        = link_to t(:cancel), ticket_path(@ticket), :class => "cancel_button btn"
