= render 'breadcrumbs'

- if admin? || current_user.has_role?(:developer, @ticket.project)
  .btn-group
    = link_to bootstrap_icon('edit') + t(:edit_ticket), edit_ticket_path, :class => 'btn'
    = link_to bootstrap_icon('plus') + t(:new_work_unit), new_ticket_work_unit_path(@ticket), :class => 'btn'

- if @ticket.description
  %p.ticket_description
    %h3 Ticket Description
    :kramdown
      #{@ticket.description}

%br/

%p.ticket_metrics
  - if @ticket.estimated_hours && @ticket.percentage_complete
    = progress_bar(@ticket.percentage_complete, :color => 'blue', :rounded => true)
    %br/
    %b Estimated Hours:
    = @ticket.estimated_hours
    %b Hours Worked:
    = @ticket.hours

= render "shared/work_unit_index", :work_units => @work_units

- unless client?
  = render "shared/files_and_comments", :items => @ticket.files_and_comments.reverse, :id => 'ticket'
