%h2= "#{@ticket.client}: #{@ticket.project} - #{@ticket}"

%ul.nav.nav-pills
  %li= link_to "#{t(:client)}: #{@ticket.client}", client_path(@ticket.project.client)
  %li= link_to "#{t(:project)}: #{@ticket.project}", project_path(@ticket.project)
  - if admin? || current_user.has_role?(:developer, @ticket.project)
    %li= link_to "#{t(:edit)}: #{@ticket}", edit_ticket_path
    %li= link_to t(:new_work_unit), new_ticket_work_unit_path(@ticket)

%p.ticket_description
  - if @ticket.description
    %h3 Ticket Description
    :markdown
      #{@ticket.description}

%br/
%p.ticket_metrics
  - if @ticket.estimated_hours && @ticket.percentage_complete
    = progress_bar(@ticket.percentage_complete, :color => 'blue', :rounded => true)
    %br/
    %b Estimated Hours:
    = @ticket.estimated_hours
    %b Hours Worked:
    = @ticket.hours

= render "shared/work_unit_index"

- unless current_user.client
  = render :partial => "shared/files_and_comments", :locals => {:items => @ticket.files_and_comments.reverse, :id => 'ticket'}
