.yui3-g
  .yui3-u-1
    %h2= "#{t(:contact)}: #{@contact.first_name} #{@contact.last_name}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to t(:all_contacts), client_contacts_path
          %li= link_to t(:edit_contact), edit_client_contact_path(@client)
          %li= button_to t(:delete_contact), client_contact_path(@contact.client, @contact), :method => :delete, :confirm => t(:are_you_sure)

.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        #client
          %table
            %thead
              %tr
                %th= t(:first_name)
                %th= t(:last_name)
                %th= t(:email_address)
                %th= t(:phone_number)
                %th= t(:receives_email)
            %tbody
              %tr
                %td= @contact.first_name
                %td= @contact.last_name
                %td= @contact.email_address
                %td= @contact.phone_number
                - if @contact.receives_email == true
                  %td= t(:affirmative)
                - else
                  %td= t(:negative)

