= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        = "#{t(:prohibited_this_project_from_being_saved)}:"

      %ul
      - @project.errors.full_messages.each do |msg|
        %li= msg

  %fieldset
    .clearfix
      = f.label :name
      .input
        = f.text_field :name
    .clearfix
      = f.label :git_repo_name
      .input
        = f.text_field :git_repo_name
    .clearfix
      = f.label :git_repo_url
      .input
        = f.text_field :git_repo_url
    .clearfix
      = f.label :overtime_multiplier
      .input
        = f.text_field :overtime_multiplier
    .clearfix
      = f.label :completed
      .input
        = f.check_box :completed
    = hidden_field_tag :client, @project.client.id
    .actions
      = f.submit :class => "add_new_button btn primary"
      = link_to t(:cancel), client_path(@project.client), :class => 'btn'
