.yui3-g
  .yui3-u-1
    %h2= "#{@project.client}: #{@project}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to "#{t(:client)}: #{@project.client}" , @project.client
          - if admin? || current_user.has_role?(:developer, @project)
            %li= link_to "#{t(:edit)}: #{@project}", edit_project_path
            %li= link_to t(:new_ticket), new_ticket_path(:project_id => @project)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %h3= "#{t(:status)}: #{@project.client.status}"
        #div{:id => "effect", :class => "effect"}
          = render :partial => "shared/work_unit_index"
        #div{:id => "ticketboard", :class => ".ticketboard"}
          -@project.tickets.first.states.each do |state|
            =render :partial => "shared/ticketflow", :locals => { :project => @project, :state => state }
        %div{:style => "clear: both;"}
.yui3-g
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => "comments/comments", :locals => {:comments => @project.comments}
        = render :partial => "comments/comment_form", :locals => { :commentable_id => @project.id,
          :commentable_field => "project_id",
          :commentable_type => "Project",
          :refurl => project_path(@project),
          :comment_num => @project.id }
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        #files
          = render :partial => "file_attachments/file_attachments", :locals => { :file_attachments => @project.file_attachments }
          = link_to t(:add_file_attachment), new_file_attachment_path( :project_id => @project.id )


- content_for :javascripts do
  :javascript
    $(document).ready(ready_function());
    $( ".concealed" ).hide();
    function ready_function() {

      $('li').each(function(){
        makeItemDraggable($(this));
      });

      $('li').dblclick(function(){
        $( ".effect" ).show( "highlight", {}, 500 );
        $( ".bucket" ).hide();
      });
  
      $( ".effect" ).click(function(){
        $( ".effect" ).hide();       
        $( ".bucket" ).show( "highlight", {}, 250 );
      });
        
      $('#fridge_ul').droppable({
        accept: "",
        drop: function(event, ui){
          var new_element = $("<li></li>").text(ui.draggable.text()).attr("id",ui.draggable.attr("id")).appendTo(this);
          new_element.addClass("fridge_li")
          makeItemDraggable(new_element);
          var id = ui.draggable.attr("id")
          reverseState(id);
          ui.draggable.remove();
        }
      })
      $('#development_ul').droppable({
        accept: ".fridge_li, .peer_review_li, .user_acceptance_li",
        activeClass: "ui-state-hover",
        drop: function(event, ui){
          var new_element = $("<li></li>").text(ui.draggable.text()).attr("id",ui.draggable.attr("id")).appendTo(this);
          new_element.addClass("development_li")
          new_element.html(ui.draggable.html());
          makeItemDraggable(new_element);
          var id = ui.draggable.attr("id")
          if (ui.draggable.hasClass("fridge_li")) {
            advanceState(id);
          } else {
            reverseState(id);
          }
          ui.draggable.remove();
        }
      })
      $('#peer_review_ul').droppable({
        accept: ".development_li",
        activeClass: "ui-state-hover",
        drop: function(event, ui){
          var new_element = $("<li></li>").text(ui.draggable.text()).attr("id",ui.draggable.attr("id")).appendTo(this);
          new_element.addClass("peer_review_li")
          new_element.html(ui.draggable.html());
          makeItemDraggable(new_element);
          var id = ui.draggable.attr("id")
          advanceState(id);
          ui.draggable.remove();
        }
      })
      $('#user_acceptance_ul').droppable({
        accept: ".peer_review_li",
        activeClass: "ui-state-hover",
        drop: function(event, ui){
          var new_element = $("<li></li>").text(ui.draggable.text()).attr("id",ui.draggable.attr("id")).appendTo(this);
          new_element.addClass("user_acceptance_li")
          new_element.html(ui.draggable.html());
          makeItemDraggable(new_element);
          var id = ui.draggable.attr("id")
          advanceState(id);
          ui.draggable.remove();
        }
      })
      $('#archived_ul').droppable({
        accept: ".user_acceptance_li",
        activeClass: "ui-state-hover",
        drop: function(event, ui){
          var new_element = $("<li></li>").text(ui.draggable.text()).attr("id",ui.draggable.attr("id")).appendTo(this);
          new_element.addClass("archive_li")
          new_element.html(ui.draggable.html());
          makeItemDraggable(new_element);
          var id = ui.draggable.attr("id")
          advanceState(id);
          ui.draggable.remove();
        }
      })
    }

    function reverseState(id) {
      $.post("/tickets/" + id + "/reverse_state");
    }

    function advanceState(id) {
      $.post("/tickets/" + id + "/advance_state");
    }

    function makeItemDraggable(element) {
      element.draggable({
        revert: true,
        opacity: 0.7,
      })
    }
    function showDetailView(element) {
      element.animate({
        width: "800px",
        height: "600px",
      })
    }
