.yui3-g
  .yui3-u-1
    %h2= "#{@project.client}: #{@project}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to "#{t(:client)}: #{@project.client}" , @project.client
          - if admin? || current_user.has_role?(:developer, @project)
            %li= link_to "#{t(:edit)}: #{@project}", edit_project_path
            %li= link_to t(:new_ticket), new_ticket_path(:project_id => @project)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %h3= "#{t(:status)}: #{@project.client.status}"
        %table.tickets
          %thead
            %tr
              %th= t(:tickets)
              %th= t(:work_units)
              %th= t(:uninvoiced_hours)
              %th= t(:total_hours)
              - if admin? || current_user.has_role?(:developer, @project)
                %th= t(:edit)
          %tfoot
            %tr
              %th= t(:all_tickets)
              %th= @project.work_units.count
              %th= @project.uninvoiced_hours
              %th= @project.hours
              %th &nbsp;
          %tbody
            - @tickets.each do |ticket|
              %tr
                %td= link_to ticket, ticket
                %td= ticket.work_units.count
                %td= ticket.uninvoiced_hours
                %td= ticket.hours
                - if admin? || current_user.has_role?(:developer, @project)
                  %td= link_to t(:edit), edit_ticket_path(ticket)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => "shared/files_and_comments", :locals => {:items => @project.files_and_comments.reverse, :id => 'project'}
