= render 'breadcrumbs'

- if admin? || current_user.has_role?(:developer, @project)
  .btn-group
    = link_to bootstrap_icon('edit') + t(:edit_project), edit_project_path, :class => 'btn', :rel => 'edit-project'
    = link_to bootstrap_icon('plus') + t(:new_ticket), new_ticket_path(:project_id => @project), :class => 'btn'
    = link_to bootstrap_icon('plus') + t(:new_work_unit), new_work_unit_path(:client_id => @project.client, :project_id => @project), :class => 'btn'
    - if current_user.has_role?(:developer)
      - if @project.allows_access?(current_user)
        = link_to bootstrap_icon('minus') + 'Unsubscribe', project_unsubscribe_path(:project_id => @project.id), :class => 'btn'
      - else
        = link_to bootstrap_icon('plus') + 'Subscribe', project_subscribe_path(:project_id => @project.id), :class => 'btn'
  %br
  %br

- if admin?
  %ul
    %li= "Rate A: #{number_to_currency(@project.rate_a)}"
    %li= "Rate B: #{number_to_currency(@project.rate_b)}"

%ul.nav.nav-tabs{"data-tabs" => "tabs"}
  -if !@project.xrono_notes.nil?
    %li.active= link_to "Project Notes", "#project_notes"
  -if !@project.release_notes.nil?
    %li{:class => "#{@project.xrono_notes.nil? ? "active" : ""}"}= link_to "Release Notes", "#release_notes"
  %li{:class => "#{@project.xrono_notes.nil? && @project.release_notes.nil? ? "active" : ""}"}= link_to "Incomplete Tickets", "#incomplete_tickets"
  %li= link_to "Complete Tickets", "#complete_tickets"
  %li= link_to "Data Vault", "#data_vault"
  %li= link_to "Work Units", "#work_unit_index"
  %li= link_to "Comments and Files", "#comments" unless client?

.tab-content
  -if !@project.xrono_notes.nil?
    #project_notes.tab-pane.active
      :kramdown
        #{@project.xrono_notes}
  -if !@project.release_notes.nil?
    #release_notes.tab-pane{:class => "#{@project.xrono_notes.nil? ? "active" : ""}"}
      :kramdown
        #{@project.release_notes}
  #incomplete_tickets.tab-pane{:class => "#{@project.xrono_notes.nil? && @project.release_notes.nil? ? "active" : ""}"}
    - if project_completion_metric(@project) > 0
      = progress_bar(project_completion_metric(@project), :color => 'blue', :rounded => true)
    = render "ticket_table", :tickets => @incomplete_tickets
  #complete_tickets.tab-pane
    - if project_completion_metric(@project) > 0
      = progress_bar(project_completion_metric(@project), :color => 'blue', :rounded => true)
    = render "ticket_table", :tickets => @complete_tickets
  #data_vault.tab-pane
    = render "shared/data_vault", :data_vault => @project.data_vault
  #work_unit_index.tab-pane
    = render "shared/work_unit_index", :work_units => @work_units, show_ticket: true
  - unless client?
    #comments.tab-pane
      = render "shared/files_and_comments", :items => @project.files_and_comments.reverse, :id => 'project'

  - content_for :javascripts do
    = javascript_include_tag "ticket_board"
    = javascript_include_tag "bootstrap-tabs"
    :javascript
      $(function() {
        $('.tabs').tabs();
      });
