%h2= "#{@project.client}: #{@project}"

%ul.pills
  %li= link_to "#{t(:client)}: #{@project.client}" , @project.client
  - if admin? || current_user.has_role?(:developer, @project)
    %li= link_to "#{t(:edit)}: #{@project}", edit_project_path
    %li= link_to t(:new_ticket), new_ticket_path(:project_id => @project)

%h3= "#{t(:status)}: #{@project.client.status}"
%table.tickets.zebra-striped
  %thead
    %tr
      %th  #
      %th= t(:tickets)
      %th= t(:work_units)
      %th= t(:uninvoiced_hours)
      %th= t(:total_hours)
      - if admin? || current_user.has_role?(:developer, @project)
        %th= t(:edit)
  %tfoot
    %tr
      %th= t(:all_tickets)
      %th= @project.work_units.count
      %th= @project.uninvoiced_hours
      %th= @project.hours
      %th &nbsp;
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.id
        %td= link_to ticket, ticket
        %td= ticket.work_units.count
        %td= ticket.uninvoiced_hours
        %td= ticket.hours
        - if admin? || current_user.has_role?(:developer, @project)
          %td= link_to t(:edit), edit_ticket_path(ticket), :class => 'btn'


- unless current_user.client
  %h3= "#{t(:status)}: #{@project.client.status}"
  #effect.effect
  .ticketboard#ticketboard
    .row
      - Ticket.state_machine.states.keys.each do |state|
        .span3
          = render :partial => "shared/ticketflow", :locals => { :project => @project, :state => state }
  .span1
  .clearfix

  .row
    = render :partial => "comments/comments", :locals => {:comments => @project.comments}
    = render :partial => "comments/comment_form", :locals => { :commentable_id => @project.id,
      :commentable_field => "project_id",
      :commentable_type => "Project",
      :refurl => project_path(@project),
      :comment_num => @project.id }
  .row
    #files
      = render :partial => "file_attachments/file_attachments", :locals => { :file_attachments => @project.file_attachments }
      = link_to t(:add_file_attachment), new_file_attachment_path( :project_id => @project.id )

  - content_for :javascripts do
    = javascript_include_tag "ticket_board"
