=javascript_include_tag "jquery.js"
=javascript_include_tag "jquery-ui-1.8.16.custom.min.js"
.yui3-g
  .yui3-u-1
    %h2= "#{@project.client}: #{@project}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to "#{t(:client)}: #{@project.client}" , @project.client
          - if admin? || current_user.has_role?(:developer, @project)
            %li= link_to "#{t(:edit)}: #{@project}", edit_project_path
            %li= link_to t(:new_ticket), new_ticket_path(:project_id => @project)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %h3= "#{t(:status)}: #{@project.client.status}"
        -@project.tickets.first.states.each do |state|
          =render :partial => "shared/ticketflow", :locals => { :project => @project, :state => state }
        %div{:style => "clear: both;"}
.yui3-g
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => "comments/comments", :locals => {:comments => @project.comments}
        = render :partial => "comments/comment_form", :locals => { :commentable_id => @project.id,
          :commentable_field => "project_id",
          :commentable_type => "Project",
          :refurl => project_path(@project),
          :comment_num => @project.id }
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        #files
          = render :partial => "file_attachments/file_attachments", :locals => { :file_attachments => @project.file_attachments }
          = link_to t(:add_file_attachment), new_file_attachment_path( :project_id => @project.id )


:javascript
  $(document).ready(ready_function());

  function ready_function() {
    $('li').each(function(){
      makeItemDraggable($(this));
    });
    $('#development_ul').droppable({
      accept: ".fridge_li, .peer_review_li, .user_acceptance_li",
      drop: function(event, ui){
        ui.draggable.remove();
        var new_element = $("<li></li>").appendTo(this);
        new_element.addClass("development_li");
        new_element.html(ui.draggable.html());
        makeItemDraggable(new_element);
        var id = ui.draggable.attr("id");
        new_element.attr("id",id);
        ui.draggable.hasClass("fridge_li") ? advanceState(id) : reverseState(id); 
        //location.reload();
        ready_function();
      }
    });
    $('#peer_review_ul').droppable({
      accept: ".development_li",
      drop: function(event, ui){
        ui.draggable.remove();
        var new_element = $("<li></li>").appendTo(this);
        new_element.html(ui.draggable.html());
        new_element.addClass("peer_review_li");
        makeItemDraggable(new_element);
        var id = ui.draggable.attr("id");
        new_element.attr("id",id);
        advanceState(id);
        //location.reload();
        ready_function();
      }
    });
    $('#user_acceptance_ul').droppable({
      accept: ".peer_review_li",
      drop: function(event, ui){
        ui.draggable.remove();
        var new_element = $("<li></li>").appendTo(this);
        new_element.html(ui.draggable.html());
        new_element.addClass("user_acceptance_li");
        makeItemDraggable(new_element);
        var id = ui.draggable.attr("id");
        new_element.attr("id",id);
        advanceState(id);
        //location.reload();
        ready_function();
      }
    });
    $('#archived_ul').droppable({
      accept: ".user_acceptance_li",
      drop: function(event, ui){
        ui.draggable.remove();
        var new_element = $("<li></li>").appendTo(this);
        new_element.html(ui.draggable.html());
        new_element.addClass("archived_li");
        makeItemDraggable(new_element);
        var id = ui.draggable.attr("id");
        new_element.attr("id",id);
        advanceState(id);
        //location.reload();
        ready_function();
      }
    });
  }

  function reverseState(id) {
    jQuery.get("/tickets/" + id + "/down_state");
  }

  function advanceState(id) {
    jQuery.get("/tickets/" + id + "/up_state");
  }

  function makeItemDraggable(element) {
    element.draggable({
      revert: true
      });
  }
