- content_for :javascripts do
  = javascript_include_tag "ticket_board"
.yui3-g
  .yui3-u-1
    %h2= "#{@project.client}: #{@project}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to "#{t(:client)}: #{@project.client}" , @project.client
          - if admin? || current_user.has_role?(:developer, @project)
            %li= link_to "#{t(:edit)}: #{@project}", edit_project_path
            %li= link_to t(:new_ticket), new_ticket_path(:project_id => @project)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %h3= "#{t(:status)}: #{@project.client.status}"
        #div{:id => "effect", :class => "effect"}
        #div{:id => "ticketboard", :class => ".ticketboard"}
          -Ticket.state_machine.states.keys.each do |state|
            =render :partial => "shared/ticketflow", :locals => { :project => @project, :state => state }
        %div{:style => "clear: both;"}
.yui3-g
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => "comments/comments", :locals => {:comments => @project.comments}
        = render :partial => "comments/comment_form", :locals => { :commentable_id => @project.id,
          :commentable_field => "project_id",
          :commentable_type => "Project",
          :refurl => project_path(@project),
          :comment_num => @project.id }
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        #files
          = render :partial => "file_attachments/file_attachments", :locals => { :file_attachments => @project.file_attachments }
          = link_to t(:add_file_attachment), new_file_attachment_path( :project_id => @project.id )
