.yui3-g
  .yui3-u-1
    %h2= "#{@project.client}: #{@project}"
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %ul.subnav
          %li= link_to "#{t(:client)}: #{@project.client}" , @project.client
          - if admin? || current_user.has_role?(:developer, @project)
            %li= link_to "#{t(:edit)}: #{@project}", edit_project_path
            %li= link_to t(:new_ticket), new_ticket_path(:project_id => @project)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        %h3= "#{t(:status)}: #{@project.client.status}"
        #div{:id => "effect", :class => "effect"}
        #div{:id => "ticketboard", :class => ".ticketboard"}
          -Ticket.state_machine.states.keys.each do |state|
            =render :partial => "shared/ticketflow", :locals => { :project => @project, :state => state }
        %div{:style => "clear: both;"}
.yui3-g
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        = render :partial => "comments/comments", :locals => {:comments => @project.comments}
        = render :partial => "comments/comment_form", :locals => { :commentable_id => @project.id,
          :commentable_field => "project_id",
          :commentable_type => "Project",
          :refurl => project_path(@project),
          :comment_num => @project.id }
  .yui3-u-1-2
    .gradient_border_wrap
      .gradient_border_content
        #files
          = render :partial => "file_attachments/file_attachments", :locals => { :file_attachments => @project.file_attachments }
          = link_to t(:add_file_attachment), new_file_attachment_path( :project_id => @project.id )


- content_for :javascripts do
  :javascript
    $(document).ready(ready_function());
    $( ".concealed" ).hide();
    function ready_function() {

      $('.bucket ul li').each(function(){
        makeItemDraggable($(this));
      });

      $('.bucket ul li').live('dblclick', function(){
        $.ajax({
          url: '/tickets/'+this.id+'/ticket_detail',
          success: function(data) {
            $(".effect").show().html(data);
            $(".effect #footer").css("display", "none");
            $(".effect #header").css("display", "none");
          }
        });

        $( ".bucket" ).hide();
      });
  
      $( ".effect" ).click(function(){
        $( ".effect" ).css("display", "none");      
        $( ".bucket" ).show();
      });
        
      $('#fridge_ul').droppable({
        accept: "",
        drop: function(event, ui){
        }});

      $('#development_ul').droppable({
        accept: ".fridge_li, .peer_review_li, .user_acceptance_li",
        activeClass: "ui-state-hover",
        drop: function(event, ui){
          var dragged = ui.draggable;
          var id = ui.draggable.id;
          dragged.hide("puff", {}, 350);
          dragged.hasClass("fridge_li") ? advance(dragged, this, "development_li") : reverse(dragged, this, "development_li");
        }
      });
      $('#peer_review_ul').droppable({
        accept: ".development_li",
        activeClass: "ui-state-hover",
        drop: function(event, ui){
          var dragged = ui.draggable
          advance(dragged, this, "peer_review_li");
          dragged.hide("puff", {}, 350);
        }
      });
      $('#user_acceptance_ul').droppable({
        accept: ".peer_review_li",
        activeClass: "ui-state-hover",
        drop: function(event, ui){
          var dragged = ui.draggable
          dragged.hide("puff", {}, 350);
          advance(dragged, this, "user_acceptance_li");
        }
      });
      $('#archived_ul').droppable({
        accept: ".user_acceptance_li",
        activeClass: "ui-state-hover",
        drop: function(event, ui){
          var dragged = ui.draggable
          dragged.hide("puff", {}, 350);
          advance(dragged, this, "archived_li");
        }
      })
    }

    function reverse(dragged, dest_bucket, dest_class) {
      $.ajax({
        type: "POST",
        url: '/tickets/'+dragged.attr("id")+'/reverse_state',
        success: function(data) {
          var new_element = $("<li></li>").text(dragged.text()).attr("id",dragged.attr("id")).appendTo(dest_bucket);
          new_element.addClass(dest_class);
          new_element.html(dragged.html());
          makeItemDraggable(new_element);
          dragged.remove();
        },
        error: function() {
          dragged.show("pulsate", {}, 200);
        }
      });
    }

    function advance(dragged, dest_bucket, dest_class) {
      $.ajax({
        type: "POST",
        url: '/tickets/'+dragged.attr("id")+'/advance_state',
        success: function(data) {
          var new_element = $("<li></li>").text(dragged.text()).attr("id",dragged.attr("id")).appendTo(dest_bucket);
          new_element.addClass(dest_class);
          new_element.html(dragged.html());
          makeItemDraggable(new_element);
          dragged.remove();
        },
        error: function() {
          dragged.show("pulsate", {}, 200);
        }
      });
    }

    function makeItemDraggable(element) {
      element.draggable({
        revert: true,
        opacity: 0.7,
      })
    }
