= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset
    %legend Sign in
    .login_form
      .clearfix
        = f.label :email
        .input
          = f.text_field :email
      .clearfix
        = f.label :password
        .input
          = f.password_field :password
      - if devise_mapping.rememberable?
        .clearfix
        .remember
          .input
            = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Sign in", :class => 'btn primary'

= render "devise/shared/links"
