%h2= t(:new_short_day)

= form_for [:admin, @short_day] do |f|
  %fieldset
    .control-group
      = f.label :short_day_date, :class => 'control-label'
      .controls
        = f.text_field :date, :id => 'datepicker'
    .control-group
      = f.label :short_day_hours, :class => 'control-label'
      .controls
        = f.text_field :hours
    .form-actions
      = f.submit 'Update', :class => 'add_new_button btn primary'
      = link_to 'Cancel', admin_path, :class => 'cancel_button btn'

