%h2= t(:edit_user)

= form_for @user, :class => "new_user", :url => admin_user_path(@user) do |f|
  .clearfix
    = f.label :first_name
    .input
      = f.text_field :first_name
  .clearfix
    = f.label :last_name
    .input
      = f.text_field :last_name
  .clearfix
    = f.label :middle_initial
    .input
      = f.text_field :middle_initial
  .clearfix
    = f.label :email
    .input
      = f.text_field :email
  .clearfix 
    = f.label :daily_target_hours, t(:daily_target_hours) 
    .input
      = f.text_field(:daily_target_hours)
  .clearfix
    = f.label :password
    .input
      = f.password_field :password
  .clearfix
    = f.label :password_confirmation
    .input
      = f.password_field :password_confirmation
  .clearfix
    = f.label :locked
    .input
      = f.check_box :locked
  .actions
    = f.submit 'Update', :class => 'add_new_button btn primary'
    = link_to 'Cancel', admin_users_path, :class => 'cancel_button btn'

.clear
