.yui3-g
  .yui3-u-1
    %h2= t(:edit_user)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        = form_for @user, :class => "new_user", :url => admin_user_path(@user) do |f|
          .field_wrap
            = f.label :first_name
            = f.text_field :first_name
          .field_wrap
            = f.label :last_name
            = f.text_field :last_name
          .field_wrap
            = f.label :middle_initial
            = f.text_field :middle_initial
          .field_wrap
            = f.label :email
            = f.text_field :email
          .field_wrap
            = f.label :password
            = f.password_field :password
          .field_wrap
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          .field_wrap
            = f.label :locked
            = f.check_box :locked
          .field_wrap
            = f.submit 'Update', :class => 'add_new_button'
            = link_to 'Cancel', admin_users_path, :class => 'cancel_button'

        .clear
