%h2= t(:all_users)

= render :partial => 'admin/nav'

= link_to t(:new_user), new_admin_user_path, :class => "add_new_button btn primary"
%br/
%br/

%ul.tabs
  %li.active= link_to "Unlocked", admin_users_path
  %li= link_to "Locked", admin_locked_users_path


= render :partial => "unlocked_users"

