%h2= t(:all_users)

= render 'admin/nav'

= link_to t(:new_user), new_admin_user_path, :class => "add_new_button btn primary right"

.btn-group
  = link_to "Unlocked", admin_users_path, :class => 'btn'
  = link_to "Locked", admin_locked_users_path, :class => 'btn'
  = link_to "Unlocked Clients", admin_unlocked_clients_path, :class => 'btn'
  = link_to "Locked Clients", admin_locked_clients_path, :class => 'btn active'

= render "users_table", users: @users
