.yui3-g
  .yui3-u-1
    %h2= t(:new_user)
.yui3-g
  .yui3-u-1
    .gradient_border_wrap
      .gradient_border_content
        = form_for @user, :class => "new_user", :url => admin_users_path do |f|
          = f.label :first_name
          = f.text_field :first_name
          %br/
          = f.label :last_name
          = f.text_field :last_name
          %br/
          = f.label :middle_initial
          = f.text_field :middle_initial
          %br/
          = f.label :email
          = f.text_field :email
          %br/
          = f.label :password
          = f.password_field :password
          %br/
          = f.label :password_confirmation
          = f.password_field :password_confirmation
          %br/
          = f.submit t(:create), :class => 'add_new_button'

          = link_to t(:cancel), admin_users_path, :class => 'cancel_button' 

          .clear

