%h1= t(:roles)

= render '/users/user_head', :user => @user

.module
  = form_tag(projects_admin_user_path, :method => 'post') do
    %table.table.table-striped
      %thead
        %th 
          = t(:client)
          = link_to_function("[+/-]", nil, :id => "show_hide")
        %th= t(:project)
        %th= t(:developer_role)
        %th= t(:client_role)
        %th= t(:no_roles)
      - Client.sort_by_name.each do |client|
        - if client.status == "Active"
          = render "shared/user_roles", :user => @user, :client => client
    = submit_tag("Submit", :class => 'btn primary')

- content_for :javascripts do
  :javascript
    $( "#show_hide" ).click(function(){
      $(".suspended").toggle();
    });
