%table.work_units.table.table-striped
  %thead
    %tr
      %th #
      %th= t(:work_units)
      %th= t(:scheduled_at)
      %th= t(:hours_type)
      %th= t(:hours)            
  %tbody
    - @work_units.each do |work_unit|
      %tr{ :class => cycle("odd", "even") }
        %td= work_unit.id
        %td= link_to work_unit.description, client_login_work_unit_path(work_unit)
        %td= work_unit.scheduled_at
        %td= work_unit.hours_type
        %td= work_unit.hours              
